.flLabel, .flVal, .flRes {
    background: none;
    border: none;
}
.flRes {
    border-bottom: 1px dashed white;
    font-size: 1px;
}
.flLabel {
    width: 125px;
    text-align: left;
}
.flVal {
    min-width: 75px;
    text-align: right;
}
.flShips {
    cursor: pointer;
}
