.hide {
    display: none;
}
.inv {
    visibility: hidden;
}
.small > th {
    font-size: 2px;
}
.TH_1 {
    width: 210px;
}
.TH_2 {
    width: 100px;
}
.TH_3 {
    width: 50px;
}
.TH_4 {
    width: 80px;
}
.TH_5 {
    width: 50px;
}
.TH_6 {
    width: 140px;
}
.TH_7 {
    width: 100px;
}
.TH_8 {
    width: 50px;
}
.edit {
    background: url("../../images/edit.png") no-repeat 0px -0.5px;
    padding-left: 16px;
    margin-right: 3px;
}
.del, .refuse, .rmv {
    background: url("../../images/delete.png") no-repeat 0px 2px;
    padding-left: 12px;
    margin-right: 3px;
}
.accept {
    background: url("../../images/tick.green.png") no-repeat 0px 0px;
    padding-left: 16px;
    margin-right: 3px;
}
.pad7 {
    padding: 7px;
}
.pagin {
    background: none repeat scroll 0 0 #344566;
    border: 1px solid #415680;
    padding: 4px;
}
