.hide {
    display: none;
}
.inv {
    visibility: hidden;
}
.flLe {
    float: left;
}
.flRi {
    float: right;
}
.pad2 {
    padding: 2px !important;
}
.pad10 {
    padding: 10px !important;
}
.padS5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.fInfo, .maxShip, .maxShipAll, .noShip, .noShipAll {
    cursor: pointer;
}
.Speed, .FBeh {
    cursor: help;
}
.ship {
    width: 150px;
}
.red {
    color: red !important;
}
.orange {
    color: orange !important;
}
.lime {
    color: lime !important;
}
.help_left {
    text-align: left;
}
.help_right {
    text-align: right;
}
.help_th {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
}
.noMarg {
    margin: 0px;
}
.OrderButton {
    width: 75px;
    font-weight: bold;
}
.moon {
    background: url('../../images/moon.png') no-repeat 0pt 0pt;
}
.planet {
    background: url('../../images/planet.png') no-repeat 0pt 0pt;
}
.debris {
    background: url('../../images/debris.png') no-repeat 0pt 0pt;
}
.moon, .planet, .debris {
    padding-left: 15px;
    margin-left: 5px;
    cursor: help;
}
.SendButtom {
    font-weight: bold;
    padding: 5px;
    width: 150px;
}
