.pad {
    padding: 4px;
}
.moon {
    background: url('../../images/moon.png') no-repeat 0pt 0pt;
}
.planet {
    background: url('../../images/planet.png') no-repeat 0pt 0pt;
}
.debris {
    background: url('../../images/debris.png') no-repeat 0pt 0pt;
}
.moon, .planet, .debris {
    padding-left: 15px;
    margin-left: 5px;
    cursor: help;
}
#resTbl {
    width: 750px;
}
