.nopad > td {
    padding: 1px;
}
.nonactivated {
    color: yellow !important;
}
.colony {
    color: gray !important;
}
.green {
    color: green !important;
}
.newplayer {
    color: #FFCC33;
}
#galRows > tr:hover > th {
    background-color: #4A5F8C !important;
    border-color: #5573AA !important;
}
.rowHighlight > th {
    background-color: #4A5F8C !important;
    border-color: #5573AA !important;
}
.selTH {
    border: 0px;
    padding: 0px;
}
.selInput {
    height: 25px;
    font-weight: 700;
}
.selSub {
    font-weight: 700;
    padding: 3px;
}
.galWidth {
    width: 680px;
}
.avWid {
    width: 34px;
}
.fl_l {
    float: left;
}
.fl_r {
    float: right;
}
.imgSm {
    width: 24px;
    height: 24px;
}
.imgS {
    width: 32px;
    height: 32px;
}
.imgM {
    width: 72px;
    height: 72px;
}
.point {
    cursor: pointer;
}
.tipS {
    font-size: 4px;
}
.hiFnt {
    font-size: 0px !important;
}
.bigFnt {
    font-size: 12px;
}
.nowrap {
    white-space: nowrap;
}
.bgSmall {
    background-color: rgb(0, 100, 0) !important;
}
.bgMed {
    background-color: rgb(100, 100, 0) !important;
}
.bgBig {
    background-color: rgb(100, 0, 0) !important;
}
.hide {
    display: none;
}
#MissileForm {
    margin: 0px;
}
.icoMissile, .icoSpy, .icoMsg, .icoBuddy {
    padding-left: 16px;
}
