.tblNoMarg {
    margin: -2px;
}
.jumpto {
    padding: 3px;
    min-width: 120px;
}
.setMin, .setMax {
    cursor: pointer;
}
.countInput {
    padding: 3px;
    width: 95%;
}
#formSubmit {
    width: 95%;
    padding: 3px;
    font-weight: 700;
}
