.t_r {
    text-align: right;
}
.t_l {
    text-align: left;
}
.p_r {
    padding-right: 5px;
}
.p_l {
    padding-left: 5px;
}
.pad3 {
    padding: 3px;
}
.inv {
    visibility: hidden;
}
.invBr {
    height: 5px;
}
#textBox {
    width: 90%;
    height: 100px;
}
#thisReset {
    cursor: pointer;
}
.w90p {
    width: 90%;
}
