.nopad {
    padding: 5px 0px !important;
}
.nopad > input {
    margin: 0px 0px 0px 1px !important;
}
.vtop {
    vertical-align: top;
}
.tleft {
    text-align: left;
}
.tright {
    text-align: right;
}
.usrNames {
    display: none;
}
#toggleUsers {
    cursor: pointer;
    color: skyblue;
}
