.pad2 {
    padding: 2px;
}
.plImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: 200px 200px;
    border: 2px solid black;
}
.divBg {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    vertical-align: middle;
    width: 100%;
}
.hide {
    display: none;
}
.inv {
    visibility: hidden;
}
.w100p {
    width: 100%;
}
.icon {
    vertical-align: bottom;
    padding-right: 5px;
}
.help {
    cursor: help;
}
.w42p {
    width: 42%;
}
.w58p {
    width: 58%;
}
