.pad2, #uniSel
{
    padding: 2px;
}
.pad3 {
    padding: 3px;
}
.pad1
{
    padding: 5px;
}
#recaptcha_table *
{
    background: white;
}
.fntBold, .recaptcha_input_area_text
{
    font-weight: bold;
}
.wid
{
    width: 150px;
}
.w90p {
    width: 90%;
}
.w40px {
    width: 40px;
}
.w350px {
    width: 350px;
}
.lal
{
    text-align: left;
}
.TextRight {
    text-align: right;
}
.lime
{
    color: lime;
}
.orange
{
    color: orange;
}
.red
{
    color: red;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

#MsgSpace {
    opacity: 0;
}

.UniInfo_Box {
    display: inline-block;
    width: 700px;
}
.UniInfo_Section {
    display: inline-block;
    width: 48%;
}
.UniInfo_Col {
    float: left;
    width: 49%;
}
.UniInfo_Col *, #form label:not(.recaptcha_input_area_text), #form input[type="submit"], #form input[type="button"], .TextShadow {
    text-shadow: 1px 1px 2px black;
}

.BadInput {
    border-color: red;
    color: red;
}
