.left {
    text-align: left;
}
ul > ul {
    list-style-type:square;
}
.padleft {
    padding: 2px !important;
    padding-left: 45px !important;
}
.float {
    float: left;
    padding-left: 4px;
}
span.float {
    width: 95%;
    margin-bottom: 1px;
}
b.float {
    width: 4%;
}
.ruleul {
    margin: 4px 0px;
}
.AcceptBox {
    padding: 4px;
    border: 1px solid #415680;
    background: #344566;
    margin: 0px 15px;
    padding-left: 21px;
}
.DoAccept {
    background: url('../../images/tick.green.png') no-repeat 3px 3px;
}
.DoDecline {
    background: url('../../images/delete.png') no-repeat 5px 5px;
}
.Acc_1 {
    padding: 5px !important;
    text-align: center !important;
    border-bottom: 0px !important;
}
.Acc_2 {
    padding: 8px !important;
    border-bottom: 0px !important;
}
.Acc_3 {
    font-size: 4px !important;
}
