.row_odd > th {
    background-color: #3F5178;
    border-color: #4B6595;
}
.hover {
    background-color: #4A5F8C !important;
    border-color: #5573AA !important;
}
.pad2 > th{
    padding: 2px !important;
}
.pad2 > th > select {
    padding: 2px !important;
}
.ch {
    cursor: help;
}
.sky {
    color: #87CEEB !important;
}
.green {
    color: green !important;
}
.point {
    cursor: pointer;
}
.ally {
    color: #33CCFF !important;
}
