.vdiv {
    width: 100%;
    bottom: -30px;
}
.vAlign {
    vertical-align: middle;
}
.vEl {
    background: url('../../images/view_modes.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.vEl.b {
    background-position: -16px 0;
}
.vArr {
    background: url('../../images/view_arrows.png') no-repeat;
    width: 12px;
    height: 14px;
    display: inline-block;
}
.vArr.b {
    background-position: 0 -14px;
}
.vList {
    float: left;
    left: 50%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.vList li {
    float: left;
    position: relative;
    right: 50%;
}
.vList span {
    height: 16px;
    background: #313E59;
    border: 1px solid #556C9B;
    border-left: 0;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    width: auto;
    padding: 5px;
}
.vList span.point:hover {
    background: #3A4969;
}
.vList span.selected {
    background: #4C608A !important;
}
.vList.b span {
    padding: 1px 5px;
}
.vList .place {
    padding-left: 0;
    padding-right: 0;
    width: 3px;
}
.vList .alpha {
    border-left: 1px solid #556C9B;
}
.point {
    cursor: pointer;
}
