.tab {
    width: 33%;
}
.tabHover {
    background-color: #455B87;
    border-color: #526EA3;
}
.tabSelect {
    background-color: #4E6797;
    border-color: #607BAF;
}

.tab, .tab1, .hand {
    cursor: pointer !important;
}
.help {
    cursor: help;
}
.inv {
    visibility: hidden;
}
.hide {
    display: none;
}
.butHard {
    color: white;
    font-weight: bold;
}
.taskTWR {
    width: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.catName {
    float: left;
    margin-left: 25px;
}
.catCnt {
    float: right;
}
.noBor {
    border: 0px !important;
}
.noBorL {
    border-width: 0px !important;
    border-left-width: 2px !important;
}
.noPad {
    padding: 0px;
}
.lAl {
    text-align: left;
}
.w120px {
    width: 120px;
}
.w35p {
    width: 35%;
}
.w40p {
    width: 40%;
}
.w45p {
    width: 45%;
}
.w80p {
    width: 80%;
}
.w50p {
    width: 50%;
}
.w100p {
    width: 100%;
}
.img {
    border: 2px solid black;
}
