.img {
    width: 32px;
    height: 32px;
    border: 2px solid black;
}
.text {
    padding: 5px;
    text-align: left;
}
.url {
    color: white;
}
.url:hover {
    text-decoration: none;
    color: white;
}
.hover {
    background-color: #455B87;
    border-color: #526EA3;
}
.cur {
    cursor: pointer;
}
.selected {
    background-color: #4E6797 !important;
    border-color: #607BAF !important;
}
