.hEndTime, .hPostEndTime {
    cursor: help;
}
.editLink {
    background: url('../../images/edit.png') no-repeat 0px 0px;
    padding-left: 18px;
}
.cancelLink {
    background: url('../../images/delete.png') no-repeat 1px 2px;
    padding-left: 18px;
}
.tLeft {
    text-align: left;
}
.hide {
    display: none;
}
.inv {
    visibility: hidden;
}
.tRight {
    text-align: right;
}
.tLeft {
    text-align: left;
}
.missionCheck {
    width: 175px;
    display: inline-block;
}
.missionCheck > input[type="checkbox"] {
    margin: 0px 5px 0px 0px !important;
    vertical-align: top;
}
.missionBox {
    margin-bottom: 4px;
}
.w25px {
    width: 25px;
}
.w50px {
    width: 50px;
}
.w150px {
    width: 150px;
}
.button {
    width: 120px;
    font-weight: bold;
}
.ui-datepicker-calendar > thead > tr > th {
    background: none;
    color: black;
}
.margR5px {
    margin-right: 5px;
}
input:disabled, select:disabled {
    color: #A6A6A6;
}
