.hEndTime, .hPostEndTime {
    cursor: help;
}
.editLink {
    background: url('../../../images/edit.png') no-repeat 0px 0px;
    padding-left: 18px;
}
.cancelLink {
    background: url('../../../images/delete.png') no-repeat 1px 2px;
    padding-left: 18px;
}
.tLeft {
    text-align: left;
}
.inv {
    visibility: hidden;
}
