.even {
    background-color: #3D5076;
    border-color: #455B87;
}
.hover {
    background-color: #455B87;
    border-color: #4E6797;
}
.vacations {
    color: #87CEEB;
}
.banned {
    color: red;
}
.moarInfo {
    text-align: left;
    padding: 5px;
}
.usrActions {
    padding: 5px;
}
.mEmail, .xEmail, .lastIP, .regIP, .lkupinfo, .usrReg, .usrOL, #SSInfo, #anyip_span, .allyOwn, .allyReq, .help {
    cursor: help;
}
.pagin, .aDel, .button, .massAction {
    cursor: pointer;
}

.aMsgFind, .aBan, .aUnban, .aDel, .aPM, .aInfo, .allyOwn, .allyReq, .aLog {
    padding-left: 18px;
}
.fatBT {
    font-weight: bold;
}

.aSearch {
    background: url('../../../images/search.png') no-repeat 5px 50%;
    padding-left: 22px !important;
}
.aMsgFind {
    background: url('../../../images/msg_find.png') no-repeat;
}
.aBan {
    background: url('../../../images/lock.png') no-repeat;
    padding-top: 1px;
}
#massBan {
    background: url('../../../images/lock.png') no-repeat;
    padding-top: 1px;
    padding-left: 18px !important;
}
#massUnban {
    background: url('../../../images/unlock.png') no-repeat;
    padding-top: 1px;
    padding-left: 18px !important;
}
.aUnban {
    background: url('../../../images/unlock.png') no-repeat;
    padding-top: 1px;
}
.aDel {
    background: url('../../../images/delete.png') no-repeat;
}
.aPM {
    background: url('../../../images/msg.png') no-repeat;
}
.aInfo {
    background: url('../../../images/user.png') no-repeat;
}
.allyOwn{
    background: url('../../../images/crown.png') no-repeat;
}
.allyReq {
    background: url('../../../images/request.png') no-repeat;
}
.aLog {
    background: url('../../../images/log.png') no-repeat;
}

.pad {
    padding: 6px;
}
.pad_small {
    padding: 3px;
}
.opt {
    width: 50%;
    text-align: left;
    border: none;
    padding-bottom: 3px;
}
.inv {
    visibility: hidden;
}
.hide {
    display: none;
}
.pagin, .button {
    border: 1px solid #415680;
    background: #344566;
}
.massAction {
    border: 1px solid #415680;
    background-color: #344566;
}
.massAction:hover {
    border: 1px solid #526EA3;
    background-color: #455B87;
}
.massAction > a:hover {
    text-decoration: none;
}
.pagin {
    padding: 4px;
}
.button, .massAction {
    padding: 5px;
}
.marg10 {
    margin: 0px 10px;
}
.negmarg {
    margin: -2px;
}
.checkBox, .checkBoxOne, #c_nosort {
    margin: 0px 2px;
    vertical-align: text-bottom;
}
label, .vList > * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.cBox {
    width: 16px;
}
.cBox > input {
    margin: 0px;
}
.pad4 {
    padding: 4px;
}
.pad3 {
    padding: 3px;
}

.vdiv {
    width: 100%;
    bottom: -40px;
}
.vAlign {
    vertical-align: middle;
}
.vList {
    float: left;
    left: 50%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.vList li {
    float: left;
    position: relative;
    right: 50%;
}
.vList span {
    background: #313E59;
    border: 1px solid #556C9B;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    width: auto;
    padding: 8px 20px;
}
.massLabel {
    margin-right: 10px;
}
